body{
    background-color:#3A4A58 ;
    color: white;
    text-align: center;
}
body i{
    padding-right: 10px;
}
body h1{
    margin-top: 5%;
}
#caffee{
    background-color: #FFFFFF;
    text-align: center;
    color: #996633;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    /* widows: 20%; */
}
div img{
    width: 100%;
}
table{
    border-collapse: collapse;
    width:  95%;
    margin-left: 15px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}
td,th{
    text-align: left;
    padding: 10px 10px 10px 2px;
}
td{
    color:#8C8C93;
    font-size: 20px;
}
.backg{
    background-color: #C4CDD6;
    color: black;
}
.color{
    background-color: #E5E8ED;
}
h2{
    margin-top: 40px;
}
.column {
    float: left;
   /* width: 220%; */
   height: 20%;
   padding-left: 15px;
   padding-right: 15px;
}
#row img{
    max-width: 350%;

}
#row{
    display:flex;
    margin-left: 15px;
    margin-right: 15px;
    
}
#row p{
    color:black;
}
hr{
    width: 70%;
  border: 0.5px solid #ccc;
}
.about{
    color: #8A8A99;
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}
a{
    color: black;
}
.email:hover{
    color: #8A8A99;
}
#media i{
    color: #8A8A99;
    font-size: 30px;
}
#media i:hover{
    color:#3A4A58;
}